// 给项目提供的scss全局变量
// 设置scss全局变量
$base-color:red;

// 左侧菜单的宽度
$base-menu-width:300px;
$base-menu-min-width: 65px;
// 左侧菜单的背景颜色
$base-menu-background:#001529;

// 顶部导航的高度
$base-tabbar-height:60px;

// logo高度设置
$base-menu-logo-height:50px;
// logo文字大小
$base-menu-logo-fontSize:20px;
// logo文字颜色
$base-menu-logo-fontcolor:#959ea6